// gradients
$color-gradient-primary: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
$color-gradient-secondary: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
// gris
$color-grey-1: #B4B4B4;
$color-grey-2: #979797;
// white
$color-white-1: #FFFFFF;
$color-white-2: #E6E6E6;
$color-white-3: #FFFAFE;
// black
$color-black-1: #000000;
// pink
$color-pink-1: #E6BBE2;
$color-pink-2: #E6DCE4;
$color-pink-3: #80687D;
$color-pink-4: #F7C9F3;
$color-pink-5: #EE3EFE;
// purple
$color-purple-1: #4C2F99;
$color-purple-2: #997D97;
// blue
$color-blue-1: #284F99;
$color-blue-2: #110038;
$color-blue-3: #3A72DB;
$color-blue-4: #4180F6;
$color-blue-5: #2E32FB;

// Fonts
$font-regular: ChakraPetch-Regular;
$font-bold: ChakraPetch-Bold;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px -- 10px/16px = 62.5%
}
