.container-myGifos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    margin: 0 auto;
    width: 89%;

    .new-gif {
         img {
            width: 288px;
            height: 298px;
         }
    }
}