.suggestions {
    display: grid;
    width: 84vw;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5.5rem 3.2rem 2.2rem 30.5rem .5rem;
    grid-column-gap: 2.4rem;

    &__today_we_suggest {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        background: $color-white-3;
        border: .1rem solid $color-pink-1;
        box-shadow: inset -2px -2px 0 0 $color-pink-2, inset 2px 2px 0 0 $color-pink-3;
        @include displayFlex(null, null, null, center);

        p {
            margin: .7rem;
            font-family: $font-regular;
            font-size: 1.4rem;
            color: $color-blue-2;
        }
    }

    &__content-1 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    &__content-2 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    &__content-3 {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }

    &__content-4 {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }

    &__content {
        width: 100%;
        height: 100%;
        background: $color-white-2;
        box-shadow: inset -2px -2px 0 0 $color-grey-1, inset 2px 2px 0 0 $color-white-1;

        &_tags {
            @include displayFlex(null, null, null, center);
            width: 97%;
            height: 2.4rem;
            margin: .4rem .4rem 0 .5rem;
            background-image: $color-gradient-secondary;
        }

        &_gif {
            width: 97.3%;
            height: 89%;
            position: relative;
            z-index: 1;
            margin: .4rem .4rem 0 .5rem;
            cursor: pointer;

            &:hover::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: .1rem dotted $color-blue-2;
            }
            
            &-btn {
                z-index: 10;
                position: absolute;
                bottom: 1.5rem;
                left: 1.4rem;
                width: 8.1rem;
                height: 3.4rem;
                @include displayFlex(null, null, center, center);
                background-color: $color-blue-4;
                border: .1rem solid $color-purple-1;
                box-shadow: inset -2px -2px 0 0 $color-blue-1, inset 2px 2px 0 0 $color-white-1;
                text-decoration: none;
                font-family: $font-regular;
                font-size: 1.4rem;
                color: $color-white-1;
                line-height: 1.8rem;

                &:hover {
                    background-color: $color-blue-3;
                    box-shadow: none;
                }

                &:hover::after {
                    content: "";
                    position: absolute;
                    top: .1rem;
                    left: 1.72px;
                    width: 96%;
                    height: 94%;
                    border: .1rem dotted $color-blue-2;
                }
            }
        }
    }
}