/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'ChakraPetch-Regular';
  src: url(../fonts/ChakraPetch-Regular.ttf);
}

@font-face {
  font-family: 'ChakraPetch-Bold';
  src: url(../fonts/ChakraPetch-Bold.ttf);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  --font-regular: 'ChakraPetch-Regular';
  --font-bold: 'ChakraPetch-Bold';
  --color-gradient-primary: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  --color-gradient-secondary: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  --border: .1rem dotted #110038;
  --border-2: .1rem dotted #110038;
  --border-3: 1px solid #110038;
  --border-4: .1rem solid #808080;
  --bg: #FFFFFF;
  --color-grey-1: #B4B4B4;
  --color-grey-2: #979797;
  --color-grey-3: #808080;
  --color-grey-4: #8F8F8F;
  --color-white-1: #FFFFFF;
  --color-white-2: #E6E6E6;
  --color-white-3: #FFFAFE;
  --color-white-4: #FFF4FD;
  --color-white-5: #F0F0F0;
  --color-white-6: #DBDBDB;
  --color-blue-1: #284F99;
  --color-blue-2: #110038;
  --color-blue-3: #3A72DB;
  --color-blue-4: #4180F6;
  --color-blue-5: #2E32FB;
  --color-purple-1: #4C2F99;
  --color-purple-2: #997D97;
  --color-pink-1: #E6BBE2;
  --color-pink-2: #E6DCE4;
  --color-pink-3: #80687D;
  --color-pink-4: #F7C9F3;
  --color-pink-5: #EE3EFE;
  --color-pink-6: #CCA6C9;
  --box-shadow-1: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  --box-shadow-2: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  --box-shadow-3: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  --box-shadow-4: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  --box-shadow-5: inset -2px 0px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  --box-shadow-6: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #FFFFFF;
  --color-text: #110038;
  --bg-dropdon: #F0F0F0;
  --bg-btn: #4180F6;
  --bg-btn-hover: #3A72DB;
}

html[data-theme='dark'] {
  --color-gradient-primary: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  --color-gradient-secondary: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  --border: .1rem dotted #110038;
  --border-2: .1rem dotted #FFFFFF;
  --border-3: none;
  --bg: #110038;
  --color-white-2: #B4B4B4;
  --color-blue-2: #FFFFFF;
  --color-pink-1: #CE36DB;
  --color-pink-4: #EE3EFE;
  --color-text-hover: #FFFFFF;
  --bg-dropdown: #2E32FB;
  --color-white-5: #CCCCCC;
  --bg-btn: #2E32FB;
  --bg-btn-hover: #2629CC;
}

body {
  background-color: var(--bg);
}

.header {
  height: 24rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem (1fr)[6] 10rem;
      grid-template-columns: 10rem repeat(6, 1fr) 10rem;
  -ms-grid-rows: 2.3rem 12rem 9rem;
      grid-template-rows: 2.3rem 12rem 9rem;
}

.header_preheader {
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: var(--color-gradient-secondary);
}

.header_preheader p {
  margin-left: .8rem;
  font-size: 1.2rem;
  font-family: var(--font-regular);
  color: var(--color-white-1);
}

.header_logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo img {
  width: 10.3rem;
  height: 6.4rem;
}

.header_options {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  height: 100%;
}

.header_options ul {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_options ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header_options ul li a {
  font-size: 1.6rem;
  font-family: var(--font-regular);
  color: var(--color-blue-2);
  text-decoration: none;
}

.header_options ul li:first-child:hover {
  background-color: var(--color-pink-1);
}

.header_options ul li:first-child a {
  position: relative;
}

.header_options ul li:first-child a:hover:after {
  content: "";
  top: -7.6px;
  left: -25.5px;
  position: absolute;
  width: 13.8rem;
  height: 3.1rem;
  border: var(--border);
}

.header_options ul li:not(:last-child) {
  width: 14.4rem;
  height: 3.6rem;
  background-color: var(--color-pink-4);
  margin-right: 1.6rem;
  border: var(--border-3);
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  z-index: 10;
}

.header_options ul li:nth-child(2) {
  width: 16.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_options ul li:nth-child(2) .change_theme {
  margin-right: 2rem;
  position: relative;
}

.header_options ul li:nth-child(2) .arrow-down {
  width: 3.6rem;
  height: inherit;
  border: var(--border-3);
  border-right: none;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  position: relative;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_options ul li:nth-child(2) .arrow-down .dropdown-content {
  display: none;
  position: absolute;
  bottom: -101px;
  left: -132.1px;
  width: 14.9rem;
  height: 8rem;
  background-color: var(--color-white-2);
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: var(--box-shadow-2);
          box-shadow: var(--box-shadow-2);
  outline: none;
}

.header_options ul li:nth-child(2) .arrow-down .dropdown-content a {
  background-color: var(--color-white-4);
  height: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  font-family: var(--font-regular);
  font-size: 1.6rem;
  color: var(--color-text);
  letter-spacing: 0;
  line-height: 2.2rem;
  outline: none;
  background: var(--color-white-4);
  border: 0.1rem solid var(--color-pink-6);
  -webkit-box-shadow: var(--box-shadow-3);
          box-shadow: var(--box-shadow-3);
}

.header_options ul li:nth-child(2) .arrow-down .dropdown-content a .first-letter {
  text-decoration: underline;
}

.header_options ul li:nth-child(2) .arrow-down .dropdown-content a:first-child {
  margin-bottom: .8rem;
}

.header_options ul li:nth-child(2) .arrow-down .dropdown-content a:hover {
  background: var(--bg-dropdown);
  border: var(--border-4);
  -webkit-box-shadow: var(--box-shadow-4);
          box-shadow: var(--box-shadow-4);
  color: var(--color-text-hover);
}

.header_options ul li:nth-child(2) .arrow-down .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_options ul li:nth-child(2):hover {
  background-color: var(--color-pink-1);
}

.header_options ul li:nth-child(2):hover .change_theme::after {
  content: "";
  top: -8px;
  left: -25.5px;
  position: absolute;
  width: 12.5rem;
  height: 3.1rem;
  border: var(--border);
}

.header_options ul li:nth-child(2):hover .arrow-down::after {
  content: "";
  top: .2rem;
  position: absolute;
  z-index: 1;
  width: 3.1rem;
  height: 3.1rem;
  border: var(--border);
}

.header_options ul li:last-child {
  height: 3.6rem;
}

.header_options ul li:last-child .f-letter {
  border-bottom: 0.1rem solid var(--color-blue-2);
}

.header_options ul li:last-child:hover::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 3.6rem;
  border: var(--border-2);
}

.header_options ul li:last-child:active {
  border: none;
}

.header_options ul li:last-child:active a {
  color: var(--color-grey-1);
}

.header_options ul li:last-child:active a .f-letter {
  border-bottom: 0.1rem solid var(--color-grey-1);
}

.header_options ul li:last-child:active::after {
  border: none;
}

.header_search {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2.3rem 1fr;
      grid-template-rows: 2.3rem 1fr;
  background: var(--color-white-2);
  -webkit-box-shadow: var(--box-shadow-2);
          box-shadow: var(--box-shadow-2);
  position: relative;
}

.header_search-description {
  -ms-grid-rows: 1 / 2;
      grid-template-rows: 1 / 2;
  background-image: var(--color-gradient-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--box-shadow-5);
          box-shadow: var(--box-shadow-5);
}

.header_search-description p {
  margin: .5rem;
  font-family: var(--font-bold);
  font-size: 1.4rem;
  color: var(--color-white-1);
}

.header_search-content {
  -ms-grid-rows: 2 / 3;
      grid-template-rows: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_search-content .text {
  margin: 0 1rem 0 1.5rem;
  width: 101rem;
  height: 4.8rem;
  background: var(--color-white-1);
  border: 1px solid var(--color-grey-2);
  -webkit-box-shadow: var(--box-shadow-6);
          box-shadow: var(--box-shadow-6);
  padding-left: 1.6rem;
  outline: none;
}

.header_search-content .text::-webkit-input-placeholder {
  font-family: var(--font-regular);
  font-size: 1.6rem;
  color: var(--color-grey-1);
  line-height: 1.8rem;
}

.header_search-content .text:-ms-input-placeholder {
  font-family: var(--font-regular);
  font-size: 1.6rem;
  color: var(--color-grey-1);
  line-height: 1.8rem;
}

.header_search-content .text::-ms-input-placeholder {
  font-family: var(--font-regular);
  font-size: 1.6rem;
  color: var(--color-grey-1);
  line-height: 1.8rem;
}

.header_search-content .text::placeholder {
  font-family: var(--font-regular);
  font-size: 1.6rem;
  color: var(--color-grey-1);
  line-height: 1.8rem;
}

.header_search-content .submit {
  width: 10.2rem;
  height: 3.6rem;
  background: var(--color-white-2);
  border: 1px solid var(--color-grey-3);
  -webkit-box-shadow: var(--box-shadow-4);
          box-shadow: var(--box-shadow-4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  outline: none;
}

.header_search-content .submit a {
  margin-left: .4rem;
  text-decoration: none;
  font-family: var(--font-regular);
  font-size: 1.6rem;
  color: var(--color-grey-4);
  line-height: 1.8rem;
}

.header_search-content .submit span {
  width: 3rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_search-content .submit:active {
  border: var(--border-4);
}

.header_search-content .submit:active:after {
  content: "";
  position: absolute;
  left: .2rem;
  width: 9.5rem;
  height: 3rem;
  border: var(--border);
}

.header_search .keywords {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  bottom: -170px;
  width: 1149px;
  height: 17rem;
  background: var(--color-white-2);
  -webkit-box-shadow: var(--box-shadow-2);
          box-shadow: var(--box-shadow-2);
}

.header_search .keywords .keyword_result {
  margin-left: 1.6rem;
  width: 991px;
  height: 3.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-white-5);
  border: var(--border-4);
  -webkit-box-shadow: var(--box-shadow-4);
          box-shadow: var(--box-shadow-4);
  font-family: var(--font-regular);
  font-size: 1.6rem;
  color: var(--color-text);
  letter-spacing: 0;
  line-height: 2.2rem;
  padding-left: 1.6rem;
  position: relative;
  outline: none;
}

.header_search .keywords .keyword_result:first-child {
  margin-top: 1.7rem;
}

.header_search .keywords .keyword_result:nth-child(2) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header_search .keywords .keyword_result:last-child {
  margin-bottom: 1.6rem;
}

.header_search .keywords .keyword_result:hover {
  background: var(--color-white-6);
  border: var(--border-4);
  -webkit-box-shadow: var(--box-shadow-4);
          box-shadow: var(--box-shadow-4);
  cursor: pointer;
}

.header_search .keywords .keyword_result:hover::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 1003px;
  height: 30px;
  border: var(--border);
}

.header_search .showK {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.suggestions {
  display: -ms-grid;
  display: grid;
  width: 84vw;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 5.5rem 3.2rem 2.2rem 30.5rem .5rem;
      grid-template-rows: 5.5rem 3.2rem 2.2rem 30.5rem .5rem;
  grid-column-gap: 2.4rem;
}

.suggestions__today_we_suggest {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background: var(--color-white-3);
  border: 0.1rem solid var(--color-pink-1);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--color-pink-2), inset 2px 2px 0 0 var(--color-pink-3);
          box-shadow: inset -2px -2px 0 0 var(--color-pink-2), inset 2px 2px 0 0 var(--color-pink-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggestions__today_we_suggest p {
  margin: .7rem;
  font-family: var(--font-regular);
  font-size: 1.4rem;
  color: var(--color-text);
}

.suggestions__content-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.suggestions__content-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.suggestions__content-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.suggestions__content-4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.suggestions__content {
  width: 100%;
  height: 100%;
  background: var(--color-white-2);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--color-grey-1), inset 2px 2px 0 0 var(--color-white-1);
          box-shadow: inset -2px -2px 0 0 var(--color-grey-1), inset 2px 2px 0 0 var(--color-white-1);
}

.suggestions__content_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
  height: 2.4rem;
  margin-left: .3rem;
  margin-top: 2px;
  background-image: var(--color-gradient-secondary);
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.suggestions__content_tags .text-tags {
  margin-left: 5px;
  width: 90.5%;
  font-family: var(--font-bold);
  font-size: 14px;
  color: var(--color-white-1);
  letter-spacing: 0;
}

.suggestions__content_tags img {
  cursor: pointer;
}

.suggestions__content_gif {
  width: 97.3%;
  height: 89%;
  position: relative;
  z-index: 1;
  margin: .4rem .4rem 0 .5rem;
  cursor: pointer;
}

.suggestions__content_gif-giphy {
  width: 100%;
  height: 100%;
}

.suggestions__content_gif:hover::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -2px;
  width: 100%;
  height: 100%;
  border: var(--border);
}

.suggestions__content_gif-btn {
  z-index: 10;
  position: absolute;
  bottom: 1.5rem;
  left: 1.4rem;
  width: 8.1rem;
  height: 3.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-btn);
  border: 0.1rem solid var(--color-purple-1);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--color-blue-1), inset 2px 2px 0 0 var(--color-white-1);
          box-shadow: inset -2px -2px 0 0 var(--color-blue-1), inset 2px 2px 0 0 var(--color-white-1);
  text-decoration: none;
  font-family: var(--font-regular);
  font-size: 1.4rem;
  color: var(--color-white-1);
  line-height: 1.8rem;
}

.suggestions__content_gif-btn:hover {
  background-color: var(--bg-btn-hover);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.suggestions__content_gif-btn:hover::after {
  content: "";
  position: absolute;
  top: .1rem;
  left: 1px;
  width: 95%;
  height: 88%;
  border: var(--border);
}

.trendings {
  width: 84vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 4rem 3.2rem (30rem)[3] 1rem;
      grid-template-rows: 4rem 3.2rem repeat(3, 30rem) 1rem;
  grid-gap: 1.6rem;
}

.trendings__today {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background: var(--color-white-3);
  border: 0.1rem solid var(--color-pink-1);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--color-pink-2), inset 2px 2px 0 0 var(--color-pink-3);
          box-shadow: inset -2px -2px 0 0 var(--color-pink-2), inset 2px 2px 0 0 var(--color-pink-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendings__today p {
  margin: .7rem;
  font-family: var(--font-regular);
  font-size: 1.4rem;
  color: var(--color-text);
}

.trendings__content-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.trendings__content-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.trendings__content-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.trendings__content-4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.trendings__content-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.trendings__content-6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.trendings__content-7 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.trendings__content-8 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.trendings__content-9 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.trendings__content-10 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.trendings__content {
  position: relative;
}

.trendings__content-gif {
  width: 100%;
  height: 100%;
}

.trendings__content-tags {
  display: none;
}

.trendings__content-tags p {
  margin-left: 5px;
  font-family: var(--font-bold);
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.trendings__content:hover {
  background: var(--color-white-2);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--color-grey-1), inset 2px 2px 0 0 var(--color-white-1);
          box-shadow: inset -2px -2px 0 0 var(--color-grey-1), inset 2px 2px 0 0 var(--color-white-1);
  padding: .3rem;
  cursor: pointer;
}

.trendings__content:hover > .trendings__content-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 10;
  bottom: .3rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 98%;
  height: 2.4rem;
  background-image: var(--color-gradient-secondary);
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendings__content:hover::after {
  content: "";
  position: absolute;
  top: .2rem;
  left: .1rem;
  width: 98.5%;
  height: 98%;
  border: var(--border);
}

.trendings__content:nth-child(6):hover::after, .trendings__content:nth-child(11):hover::after {
  content: "";
  top: .2rem;
  left: .1rem;
  width: 99.5%;
  height: 98.5%;
}

.trendings__content:nth-child(6):hover > .trendings__content-tags,
.trendings__content:nth-child(11):hover > .trendings__content-tags {
  width: 99%;
}

.preheader__g {
  height: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: var(--color-gradient-secondary);
  margin-bottom: 3.5rem;
}

.preheader__g p {
  margin-left: .8rem;
  font-size: 1.2rem;
  font-family: var(--font-regular);
  color: var(--color-white-1);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-left: 6rem;
  margin-bottom: 75px;
}

.container__arrow-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container__logo {
  margin-left: 1rem;
}

.wrap-content .create__gif {
  margin: 0 auto;
  width: 48%;
  height: 386px;
  margin-bottom: 150px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 73px 500px 1fr;
      grid-template-columns: 73px 500px 1fr;
  -ms-grid-rows: 25px 69px 190px 100px;
      grid-template-rows: 25px 69px 190px 100px;
}

.wrap-content .create__gif-header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  width: 99%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: var(--color-gradient-secondary);
  margin-top: 2px;
}

.wrap-content .create__gif-header p {
  margin-left: .8rem;
  font-size: 1.2rem;
  font-family: var(--font-regular);
  color: var(--color-white-1);
}

.wrap-content .create__gif-photo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-content .create__gif-title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-content .create__gif-title p {
  font-family: var(--font-bold);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.wrap-content .create__gif-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  font-family: var(--font-regular);
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
}

.wrap-content .create__gif-wrap-btn {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.wrap-content .create__gif-wrap-btn a {
  width: 145px;
  height: 36px;
  text-decoration: none;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-family: var(--font-regular);
  font-size: 16px;
  color: #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-content .create__gif-wrap-btn a:first-child {
  background: #FFFFFF;
}

.wrap-content .create__gif-wrap-btn a:last-child {
  margin-right: 36px;
  margin-left: 16px;
  background: #F7C9F3;
}

.wrap-content .capture-gif {
  width: 860px;
  height: 548px;
  margin: 0 auto;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin-bottom: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25px 10px 435px 75px;
      grid-template-rows: 25px 10px 435px 75px;
  display: none;
}

.wrap-content .capture-gif-title_text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  width: 99.5%;
  height: 25px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: var(--color-gradient-secondary);
  margin-top: 2px;
}

.wrap-content .capture-gif-title_text p {
  width: 96%;
  margin-left: .8rem;
  font-size: 1.2rem;
  font-family: var(--font-regular);
  color: var(--color-white-1);
}

.wrap-content .capture-gif-title_text-close {
  cursor: pointer;
}

.wrap-content .capture-gif-camara {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 97%;
  margin: 0 auto;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.wrap-content .capture-gif-btn {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-content .capture-gif-btn a {
  margin-right: 15px;
  width: 180px;
  height: 36px;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.wrap-content .capture-gif-btn a span {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
  border-right: 1px solid #110038;
}

.wrap-content .capture-gif-btn-capture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F7C9F3;
}

.wrap-content .capture-gif-btn-stop {
  background-color: #FF6161;
}

.myGifs {
  margin: 0 auto;
  width: 85vw;
  height: 30px;
  margin-bottom: 20px;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myGifs p {
  margin: .7rem;
  font-family: var(--font-regular);
  font-size: 1.4rem;
  color: var(--color-text);
}
/*# sourceMappingURL=main.css.map */